asgiref==3.6.0
cffi==1.15.1
distlib==0.3.6
Django
django-braces==1.15.0
django-cors-headers
djangorestframework==3.14.0
filelock==3.9.1
gunicorn==21.2.0
Markdown==3.4.4
packaging==23.2
Pillow==9.4.0
platformdirs==3.1.1
psycopg2==2.9.9
pycparser==2.21
pytz==2023.3.post1
sqlparse==0.4.3
tzdata==2022.7
virtualenv==20.21.0
whitenoise==6.4.0
pip== 23.3.1
