{% extends "base.html" %}
{% block body %}
 <div class="row justify-content-center">
    <div class="col-6">
        <div class="card bg-light mb-3">
            <div class="card-header">
                <i class="fa-solid fa-address-card fa-lg"></i>Add News
            </div>
            <div class="card-body">
                <form action="{% url 'create_newsgrid' %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">Add</button>
                    <a href="{% url 'newsgrid_list' %}" class="btn btn-secondary">Cancel</a>
                </form>
            </div>
        </div>
    </div>
 </div>
 {% endblock %}