{% extends 'base.html' %}
<h3 class="text-center m-4">Update Comment</h3>


{% block body %}
    The Post Updated Successfully
    <a href="{% url 'client_list' %}" class="alert-link">Go To Client Page</a>

 <div class="row justify-content-center">
    <div class="col-6">
        <div class="card bg-light mb-3">
            <div class="card-header">
                <i class="fa-solid fa-pen-to-square fa-lg"></i>Update Clients
            </div>
            <div class="card-body">
                <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">Update</button>
                    <a href="{% url 'client_list' %}" class="btn btn-secondary">Cancel</a>
                </form>
            </div>
        </div>
    </div>
 </div>
 {% endblock %}